/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html,body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	font-style: normal;
	font-weight: normal;
	color: #46433E;
}
body {
	
}

/*Базовые*/
.wrapper{}
.container{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}
.button {
	background: #37D396;
	border-radius: 38px;
	font-weight: 500;
	font-size: 24px;
	line-height: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24px;
}
.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	margin: 0 auto;
}


/*Основные*/

@media (max-width: 1199.98px){
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 960px;
	}
	.title {
		font-size: 25px;	
	}
}

@media (max-width: 767.98px){
	.container {
		max-width: 750px;	
	}
}

@media (max-width: 575.98px){
	.container {
		max-width: 540px;
		margin: auto;
		padding: 0 10px;
	}
	.title{
		font-size: 28px !important;
	}
}


/*HEADER*/
.header{
	border-bottom: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 29px 0 6px 0;
}
.header__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__link{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #1C1C1C;
	margin-right: 31px;
	position: relative;
	z-index: 0;
}
.logo__link:before {
	content: '';
	width: 23px;
	height: 23px;
	background: #37D396;
	border-radius: 50%;
	position: absolute;
	top: -4px;
	left: -7px;
	z-index: -1;
}
.logo__link span{
	color: #1C1C1C;
}
.logo__description {
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #353842;
	max-width: 292px;
}
.header__phone {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.header__tel {
	font-weight: bold;
	font-size: 24px;
	line-height: 136.19%;
	color: #353842;
	white-space: nowrap;
}
.header__phone-des {
	font-size: 14px;
	line-height: 150%;
}
.header__button {
	padding-left: 69px;
	padding-right: 69px;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.header__button {
		display: none;
	}
	.header__phone svg {
		display: none;
	}
}

@media (max-width: 767.98px){
	.logo__description{
		display: none;
	}
}

@media (max-width: 575.98px){
	.header__inner{
		flex-direction: column;
	}
	.logo__link {
		margin-right: 0;
	}
}

/*MENU*/

.menu {}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	background: #0F4C83;
}
.menu__link {
	margin-right: 65px;
}
.menu__link:last-child{
	margin-right: 0;
}
.menu__link a{
	font-size: 18px;
	line-height: 130%;
	color: #FFFFFF;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	
}

@media (max-width: 767.98px){
	.menu__link {
	margin-right: 45px;
}
	.menu__link:last-child{
	margin-right: 0;
}
}

@media (max-width: 575.98px){
	.menu{
		display: none;
	}
}

/*MAIN*/

.main {
	background: url("../img/Rectangle 24.jpg") center center no-repeat, url("../img/Rectangle 1.jpg") center top no-repeat;
	background-size: cover;
	padding-top: 67px;
}
.main__inner {
	display: flex;
	justify-content: space-between;
}
.main__title {
	font-weight: bold;
	font-size: 56px;
	line-height: 66px;
	color: #353842;
	margin-bottom: 89px;
}
.main__title + span {
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #0F4C83;
	margin-bottom: 60px;
}
.main__button {
	width: 300px;
	display: block;
}
.main__inner-left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 10px;
	background: url("../img/3485318 1.png") right bottom no-repeat, url("../img/Group 4.png") right bottom no-repeat;
	width: 100%;
	padding: 129px 0 190px 0;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.main__title {
		font-size: 34px;
	}
	.main__inner img {
		
	}
	.main__inner {
	
	}
}

@media (max-width: 767.98px){
	.main {

	}
	.main__button{
		margin: 0 auto;
	}
	.main__title {
		text-align: center;
		margin-top: 50px;
	}
	.main__inner-left {
		background: none;
		padding: 50px 0;
	}
}

@media (max-width: 575.98px){
	.main__title {
		text-align: center;
		font-size: 28px;
		line-height: 48px;
		margin-bottom: 50px;
	}

}

/*PROMO*/

.promo {
	background: #fff;
	padding: 22px 16px 0;
}
.promo__text {
	font-weight: bold;
	font-size: 25px;
	line-height: 36px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #0F4C83;
	border: 2px solid #0F4C83;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 22px 0;
	max-width: 1070px;
	margin: 0 auto;
	white-space: nowrap;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.promo__text {
		font-size: 22px;
		white-space: normal;
	}
}

@media (max-width: 767.98px){
	
}

@media (max-width: 575.98px){
	
}

/*INFO*/

.info {
	margin-top: 100px;
}
.info__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	color: #353842;
	margin-bottom: 60px;
	text-align: left;
}
.info__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info__texts {
	flex-basis: 48%;
	max-width: 548px;
}
.info__text:first-child {
	margin-bottom: 20px;
}
.info__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #282828;
	margin-bottom: 30px;
}
.info__button {
	margin: 80px 0 0 0;
	display: block;
	width: 300px;
	background: #4E72D0;
}
.info__img {
	flex-basis: 48%;
}
.info__img--desktop {
	display: block;
}
.info__img--mobile {
	display: none;
}
.info__img img{
	border-radius: 10px;
	width: 100%;
	max-height: 330px;
}
.info__small-wr {
	background: #0F4C83;
	padding: 48px 15px;
}
.info__small {
	font-size: 24px;
	line-height: 29px;
	display: block;
	align-items: center;
	color: #FFFFFF;
	margin: 0 auto;
	max-width: 1159px;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.info__title {
		padding: 40px 0;
		margin-bottom: 0;
		text-align: center;
	}
	.info {
		margin-top: 54px;
	}
	.info__inner {
		flex-direction: column;	
	}
	.info__texts {		
		width: 80%;
		margin: auto;
	}
	.info__img {
		order: -1;
		width: 70%;
		margin: auto;
		margin-bottom: 20px;
	}
	.info__button{
		margin: auto;
		margin-top: 35px;
		margin-bottom: 35px;

	}
	.info__img--desktop {
	display: none;
	}
	.info__img--mobile {
		display: block;
		margin-bottom: 40px;
	}
}

@media (max-width: 767.98px){
	
}

@media (max-width: 575.98px){
	.info__button{
		width: 250px;
	}
	.info__title {
		margin-bottom: 25px;
	}
}

/*ENTRY*/

.entry {
	background: url("../img/Rectangle 6.png") center center no-repeat;
	background-size: cover;
}
.entry__inner {
	height: auto;
	padding: 55px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.entry__text {}
.entry__info {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #4E72D0;
}
.entry__info span {
	font-weight: bold;
}
.entry__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #2B2B2B;
	margin-bottom: 40px;
	text-align: left;
}
.entry__description {
	font-size: 24px;
	line-height: 130%;
	text-align: center;
	margin-bottom: 40px;
	color: #FFFFFF;
}
.entry__button {
	display: block;
	width: 300px;
	margin: 0 auto;
}
@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.entry {
	background: url("../img/Rectangle 6.png") -300px center no-repeat;
	background-size: cover;
}
	.entry__button{
		width: 250px;
	}
	.entry__inner {
		padding: 55px 10px;
	}
}

@media (max-width: 767.98px){
	.entry__description{
		display: none;
	}
}

@media (max-width: 575.98px){
	.entry__inner{
		flex-direction: column;
	}
	.entry__title {
		font-size: 33px;
		text-align: center;
	}
	.entry__info {
		font-size: 30px;
		text-align: center;
		width: 100%;
	}
	.entry__info span {
		display: block;
		text-align: center;
	}
	.entry__button {
		margin: 0 auto;
	}
}

/*THERAPY*/

.therapy {
	padding: 80px 0;
}
.therapy__title {
	margin-bottom: 60px;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #353842;
}
.therapy__description {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #353842;
	margin-bottom: 54px;
}
.title {}
.therapy__inner {
	display: flex;
	justify-content: space-between;
}
.therapy__card {
	padding: 55px 0 0 100px;
}
.therapy__card:first-child {
	background: url("../img/Ellipse 16.png") 35px 35px no-repeat, url("../img/Ellipse 15.png") 15px 15px no-repeat, url("../img/Ellipse 14.png") left top no-repeat;
}
.therapy__card:nth-child(2) {
	background: url("../img/Ellipse 10.png") 35px 35px no-repeat, url("../img/Ellipse 9.png") 15px 15px no-repeat, url("../img/Ellipse 8.png") left top no-repeat;
}
.therapy__card:last-child {
	background: url("../img/Ellipse 7.png") 35px 35px no-repeat, url("../img/Ellipse 2.png") 15px 15px no-repeat, url("../img/Ellipse 3.png") left top no-repeat;
}
.card__img {}
.card__img img {
	width: 100%;
}
.card__body{

}
.card__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #353842;
	margin-bottom: 26px;
}
.card__button {
	padding-left: 66px;
	padding-right: 66px;
	width: 300px;
	margin: 0 auto;
	margin-top: 68px;
	background: #4E72D0;
	white-space: nowrap;
}
.card__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000
}
.card__li {

}
.therapy__button {
	display: block;
	width: 300px;
	margin: auto;
}

@media (max-width: 1199.98px){
	.card__li {
	    margin-bottom: 10px;
	}
}

@media (max-width: 991.98px) {
	.therapy{
		padding: 45px 0;
	}
	.therapy__title{
		margin-bottom: 45px;
	}
	.therapy__card{
		flex-basis: 32%;
	}
	.card__button {
		width: 300px;
		justify-content: center;
		background: #4E72D0;
		margin-top: 40px;
	}
	.card__title {
		font-size: 20px;
	}
	.card__text {

	}
}

@media (max-width: 767.98px){
	.therapy__inner{
		flex-direction: column;
		margin-bottom: 45px;
	}
	.therapy__card{
		width: 64%;
		margin: auto;
		margin-bottom: 20px;
	}
}

@media (max-width: 575.98px){
	.therapy__card{
		width: 100%;
	}
	.card__title {
		margin-bottom: 20px;
	}
	.therapy__description {
		margin-bottom: 44px;
	}
}

/*RESULT*/
.result__stat {	
	
}
.result__text {
	margin-top: 100px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #282828;
	margin-bottom: 80px;
}
.result__button {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	display: block;
}
.result__text p {
	margin-bottom: 24px;
}
.result__title{
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #353842;
	margin-bottom: 100px;
	margin-top: 55px;
}
.stats {
	font-size: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
.stats p {
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 66px;
	color: #4E72D0;
	white-space: nowrap;
	border-bottom: 5px solid #4E72D0;
	padding-bottom: 24px;
	width: 85%;
	margin-bottom: 24px;
	padding-right: 40px;
}
.stats span {
	display: block;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #4E72D0;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.stats p {
	width: 50%;
	margin-bottom: 24px;
	padding-right: 40px;
	}
	.stats > div {
		width: 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 767.98px){
	.stats p {
	    font-size: 36px;
	    border-bottom: 3px solid #4E72D0;
	    padding-bottom: 0px;
	}
	.result__title {
		margin-bottom: 64px;
		margin-top: 20px;
	}
	.stats span {
		font-size: 20px;
	}

}

@media (max-width: 575.98px){
	.stats > div {
		width: 100%;
	}
	.stats p {
	width: 50%;
	margin: 0 auto;
	}
	.stats span {
		margin: 0 auto;
		width: 50%;
	}
	.result__title {
		margin-bottom: 44px;
	}
}

/*STAGES*/

.stages__text {
	margin-top: 100px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #282828;
	margin-bottom: 80px;
}
.stages__button {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	display: block;
	background: #4E72D0;
}
.stages__text p {
	margin-bottom: 24px;
}
.stages__title{
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #353842;
	margin-bottom: 100px;
	margin-top: 100px;
}
.stage {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
.stage p {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #353842;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 55px;
}
.stage span {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #353842;
	text-align: center;
}
.stage > div {
	text-align: center;
	background-size: contain;
}
.stage > div:first-child p {
	margin-top: 65px;
}
.stage > div:nth-child(2) p {
	margin-top: 65px;
}
.stage > div:last-child p {
	margin-top: 100px;
}
.stage > div:first-child {
	background: url("../img/Group 8.png") center top no-repeat;
}
.stage > div:nth-child(2) {
	background: url("../img/Group 9.png") center top no-repeat;
}
.stage > div:last-child {
	background: url("../img/Group 7.png") center top no-repeat;
}
.stage > div > svg {
	margin-top: 24px;
}

@media (max-width: 1199.98px){
	
}

@media (max-width: 991.98px) {
	.stage p {
	margin-bottom: 24px;
	}
	.stage > div {
		width: 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 767.98px){
	.stages__text {
		margin-top: 54px;
	}
	.stages__title {
		margin-bottom: 0;
	}
	.stage > div {
		margin-bottom: 30px;
	}
}

@media (max-width: 575.98px){
	.stage > div {
		width: 100%;
	}
	.stages__text {
		margin-top: 54px;
	}
}

/*PREFOOTER*/

.prefooter {
	padding: 96px 0;
}
.prefooter__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prefooter__text {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	color: #2B2B2B;
}
.prefooter__tel {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	align-items: center;
	color: #4E72D0;
}
.button {}
.prefooter__button {
	width: 300px;
	display: block;
}
@media (max-width: 1199.98px){
	.prefooter__text {
		font-size: 26px;
	}
	.prefooter__tel {
		font-size: 28px;
	}
}

@media (max-width: 991.98px) {
	.prefooter__inner{
		flex-direction: column;
	}
	.prefooter__tel{
		margin: 15px 0;
	}
}

@media (max-width: 767.98px){
	
}

@media (max-width: 575.98px){
	
}

/*FOOTER*/

.footer {
	background: #4E72D0;
	padding: 72px 0 57px 0;
	color: #fff;
}
.footer__inner {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer__req {}
.inn {}
.ogrn {}
.footer__address {}
.address {}
.footer__contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.footer__tel {
	color: #fff;
}
.footer__mail {
	color: #fff;
}
.footer__clinic, .footer__address, .footer__req {
	margin-right: 10px;
}

@media (max-width: 1199.98px){
	.footer__inner{
		justify-content: space-around;
	}
}

@media (max-width: 991.98px) {
	
}

@media (max-width: 767.98px){
	
}

@media (max-width: 575.98px){
	.footer__inner{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}
	.footer__address{
		padding: 10px;
	}
}